var config = {};
config.port = process.env.COORDINATOR_PORT;

config.redis = {};
config.redis.port = process.env.REDIS_PORT;
config.redis.host = process.env.REDIS_HOST;

config.signalingServers = JSON.parse(process.env.SIGNALING_SERVERS);
config.allowOrigin = JSON.parse(process.env.ALLOW_ORIGIN);

module.exports = config;
